:root {
  --color: #83817fa8;
  --accent: #566351;
  --pink: #c1a7b3;
  --light: #f7f7f7;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #1F292C;
  margin: 0;
}

main {
	margin: 0 auto;
	max-width: 90%;
  padding: 50px 30px;
}

div { 
  display: block;
}

.page-container {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  flex-direction: column;
}

li {
  list-style: none;
}

.welcome {
  display: flex;
  margin: 30px 10px 30px 80px;
  width: 600px;
  flex-direction: column;

}

.top-line {
  position: absolute;
  top: 0;
  height: 5px;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  background-color: #f1e727;
  z-index: 500;
}

.small {
  font-size: 50px;
  display: block;
}

.ease-right-expand {
  -webkit-animation: ease-right-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.1s both;
  animation: ease-right-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.1s both;
}

.color {
  transition: color 0.3s ease;
}

.one:hover {
  color: #f542d7;
}

.two:hover {
  color: #cc1619;
}

.three:hover {
  color: #e35327;
}

.four:hover {
  color: #f1e727;
}

.five:hover {
  color: #3dd41c;
}

.six:hover {
  color: #2138cf;
}

.seven:hover {
  color: #9221cf;
}

h1 {
  font-family:  Arial, Helvetica, sans-serif;
  font-size: 100px;
  margin: 50px 0 30px 0;
  font-weight: 500;
}


/* .home-container {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.home-body {
  margin: 0;
  flex-grow: 1;
  height: 100vh;
} */

/* .home-image-container {
  height: 100vh;
  width: 45vw;
  background-color: var(--accent);
} */

.home-image {
  position: absolute;
  flex-direction: column;
  right: 15rem;
  top: 12rem;
  width: 30vw;
  height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
}

.about-text {
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin: auto;
  width: 525px;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 5px 10px;
  margin: 0 10px;
  font-weight: lighter;
  font-size: 1vw;
}

header nav ul li a:hover {
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 10px;
  text-shadow: none;
}

.nav {
  padding-right: 6rem;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}

.nav-pills .nav-link.active {
  background-color: #f1e727;;
}

/* Form set up and display */

.contact-text {
  color: var(--color);
  font-size: 15px;
  letter-spacing: 1px;
  
  line-height: 25px;
}

.contact-top-text {
  color: var(--accent);
  font-size: 15px;
  letter-spacing: 1px;
  margin: 0 0 6px 0;
}

form {
  margin: 35px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

input, textarea {
  margin: 5px;
  padding: 15px 10px;
  border-radius: 5px;
  border: 1px solid rgb(219, 219, 219);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
} 

button {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 18px;
  width: 200px;
  padding: 12px;
  color: #f542d7;
  border: 1px solid #f542d7;
  border-radius: 5px;
  background-color: #f7f7f7;
  font-weight: 500;
}

button:hover {
  color: #f7f7f7;
  cursor: pointer;
  background-color: #f542d7;
  box-shadow: inset 0 100px 0 0 #f542d7;
}

/* Resume section */

button a {
  text-decoration: none;
  color:#f542d7; 
}

button a:hover {
  text-decoration: none;
  color: #f7f7f7;
}

.download {
  margin-top: 100px;
}

.card {
  max-width: 400px;
}

.card-text {
  font-size: 1.2rem;
  line-height: 3rem;
}

.columns {
  padding-left: 6rem;
}

.column {
  height: 52vh;
}

/* Social Media Icons*/

.social-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  
}

.social-icons {
  width: 35px;
  height: 35px;
  margin: 0 15px 5px 0;
}

.attribute {
  font-size: 13px;
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  justify-content: center;
}

 /* Project Display */

h4 {
  text-transform: uppercase;
}

.project-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.scroll {
  /* left: 2.7rem; */
  width: 100%;
  height: 55vh;
  overflow-y: auto;
}

.project-items{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.project-display {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  position: relative;
  text-align: center;
  overflow-x: visible;
  overflow-y: hidden;
  margin: 15px;
  width: 90%;
  /* width: 275px; */
  height: 175px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.6s cubic-bezier(.25, .8, .25, 1);
}

.project-display:hover {
  filter: brightness(107%);
  border-radius: 5px;
  transform: scale(1.15);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.project-image {
  position: absolute;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  max-width: 100%;
}

.overlay {
  position: relative;
  left: 0;
  transition: all .3s ease-in-out;
  opacity: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
}

.hidden:hover{
  opacity: 100;
  background: linear-gradient(#ffffffb5, #e7e9ebc2);

}

.project-title {
  color: #1F292C;
  font-size: 19px;
  letter-spacing: 1px;
  margin: 15px 0 3px 0;
}

.project-description {
  color: #1F292C;
  font-size: 12px;
  line-height: 16px;
  margin:20px;
}

.portfolio-link{
  color: #1F292C;
  font-size: 11px;
  margin-bottom: 13px;
}

.button {
  color:#f542d7;
  background-color:  #f7f7f7;
  border-radius: 5px;
  border: 1px solid #f542d7;
  padding: 10px;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .3s ease-in-out;

}

.button:hover {
  color: #f7f7f7;
  background-color: #f542d7;
  text-decoration: none;
}

.links {
  margin-left: 20px;
}

/*
 * ----------------------------------------
 * Animation ease-right-expand
 * ----------------------------------------
 */

@-webkit-keyframes ease-right-expand {
  0% {
      letter-spacing: -0.5em;
      opacity: 0;
  }
  40% {
      opacity: 0.6;
  }
  100% {
      opacity: 1;
  }
}

@keyframes ease-right-expand {
  0% {
      letter-spacing: -0.5em;
      opacity: 0;
  }
  40% {
      opacity: 0.6;
  }
  100% {
      opacity: 1;
  }
}

/* Media Queries */
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px){
  header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
  }

  header h1 {
      width: 100%;
      text-align: center;
  }

  header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
  }

  header nav ul li a {
      font-size: 20px;
  }

  .card {
      height: 140px;
  }

  .card-info {
      font-size: 16px;
      bottom: 12px;
  }

  .contact {
      padding-left: 24px;
  }

}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) { 

  header {
      padding-top: 5px;
  }

  header nav ul {
      margin-top: 5px;
  }

  section {
      padding: 30px 35px;
  }

  .contact {
      padding-left: 5px;
  }

  .card-info {
      font-size: 12px;
      bottom: 8px;
  }

}

/* Media Queries */

@media screen and (max-width: 971px) {
    
  .welcome {
      width: auto;
      position: absolute;
      top: 300px
  }

  header {
      position: absolute;
      width: 100vw;
      top: 0;
  }

  .home-image {
      position: absolute;
      top: 0;
      height: 300px;
      min-width: 100vw;
  }

  .home-body {
      margin: 0 auto;
      flex-grow: 1;
      height: 100vh;
      width: 55vw;
  }

  h1 {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 125px;
      margin: 50px 0 30px 0;
  }
  .small {
      text-align: left;
      font-size: 50px;
      display: block;
  }

}

@media only screen and (max-width: 768px) and (min-width: 501px) {

  .welcome {
      position: absolute;
      top: 200px;
  }
  .home-image {
      position: absolute;
      top: 0;
      height: 35vh;
      width: 100vw;
      right: 0;
  }

  header {
      position: absolute;
      top: 0;
  }

  h1 {
      font-size: 70px;
  }
}

@media only screen and (max-width: 500px) {
  
  .welcome {
      margin: 30px 20px;
      position: absolute;
      top: 200px;
      width: 90vw;
  }

  .home-image {
      position: absolute;
      top: 0;
      height: 30vh;
      width: 100vw;
      right: 0;
  }

  h1 {
      font-size: 60px;
  }

  header {
      position: absolute;
      top: 0;
  }

  .about-text {
      width: 90vw;
  }

  .project-items {
      display: flex;
      flex-direction: column;
  }

  .project-display {
      margin: 15px;
  }
}